.balance-container {
  width: 40%;
  margin: 30px 30%;
  background-color: white;
  padding: 30px;
}

.heading {
  font-weight: 400;
  margin: 0;
}

.balance-container--cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.income {
  color: green;
}

.expense {
  color: #b80202;
}

.balance-container--cards > div > p {
  font-size: 25px;
  margin: 0;
}
